<nav class="navbar navbar-light bg-light">
    <div class="container-sm">
      <a class="navbar-brand" href="#">
        <img src="assets/everything.jpg" alt="" width="74" height="70">
      </a>
      <p class="font-weight-bold">
        Tief Everything
      </p>
    </div>
</nav>
<div class="container p-5">
    <div class="row">
        <div class="col-8">
            <div class="text-center text-white bg-dark h-100">
               <!-- <img src="assets/lte.jpeg" alt=""> -->
               <!-- <h1 class="center">Tief Everything</h1> -->
               <div class="center p-4"><h1 class="slideInLeft">Tief Everything</h1></div>
               <p class="slideInLeft pt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas quos, ducimus praesentium deserunt nobis sapiente earum nihil consectetur inventore. Alias officia dignissimos nesciunt repellat quos nemo cum error fuga harum!</p>
            </div>
        </div>
        <div class="col" *ngIf="isLoginMode">
            <div>
                <div>
                    <h1>Sign In</h1>
                </div>
                <div>
                    <p>Please Sign In to your account</p>
                </div>
                <div class="mt-4">
                    <input type="text" class="form-control" placeholder="Email" >
                </div>
                <div class="mt-2">
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <div class="mt-2">
                    <a class="link-offset-2 link-underline link-underline-opacity-0" href="#"><small>Forgot Password?</small></a>
                </div>
                <div class="mt-4">
                    <button type="button" class="btn btn-primary">Sign In</button>
                </div>
                <div class="text-center text-lg-start mt-2 pt-2">
                    <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                        class="link-danger" (click)="onSwitchMode()">Register</a></p>
                </div>
                
            </div>
        </div>
        <div class="col" *ngIf="!isLoginMode">
            <div>
                <div>
                    <h1>Sign Up</h1>
                </div>
            </div>
        </div>
    </div>
</div>
